@import url(vars/colors/colors.css);
@import url(vars/text.css);

@import url(button/button.css);
@import url(headline/headline.css);
@import url(popup_form/popup_form.css);

@import url(header/header.css);
@import url(main/main.css);
@import url(popular/popular.css);
@import url(about/about.css);
@import url(why/why.css);
@import url(special/special.css);
@import url(application/application.css);
@import url(shoplist/shoplist.css);
@import url(oplata/oplata.css);
@import url(review/review.css);
@import url(form_question/form_question.css);
@import url(contacts/contacts.css);
@import url(footer/footer.css);

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100vw;
    width: 100vw;

    /* background-color: aqua; */
}

html {
    font-family: 'Open Sans', sans-serif;
    /* font-size: calc(12px + 0.3vw); */
}

