@import url(vars/colors/colors.css);
@import url(vars/text.css);

@import url(button/button.css);
@import url(headline/headline.css);

@import url(header/header.css);
@import url(main/main.css);
@import url(popular/popular.css);
@import url(about/about.css);
@import url(why/why.css);
@import url(special/special.css);
@import url(application/application.css);

body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;

    width: 100%;

    /* background-color: aqua; */
}

html {
    font-family: 'Open Sans', sans-serif;
    /* font-size: calc(12px + 0.3vw); */
}