.burger {
    width: 19px;

    border-radius: 50%;

    padding: 10px;

    position: fixed;
    top: 20px;
    right: 20px;

    background-color: var(--color-white);

    display: none;
    flex-direction: column;
    
}

.burger:hover {
    cursor: pointer;
}

.burger__line {
    height: 3px;
    background-color: var(--color-black);
}

.burger__line:not(:first-child) {
    margin-top: 5px;   
}

@media screen and (max-width: 800px) {
    .burger {
        display: flex;
    }
    
}