@import url(./shoplist__cards/shoplist__cards.css);

.shoplist {
    width: 100%;

    padding-bottom: 90px;
    padding-top: 90px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: var(--color-light-gray);
}