.footer {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    background-color: var(--color-light-gray);
}

.footer__text {
    width: 43vw;
}