.special__cards {
    width: 100%;
    margin-top: 30px;

    display: flex;
    flex-direction: row;
}

.special__card {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.special__card div:not(:last-child) {
    margin-bottom: 20px;
}

/* .special__card-img {
    width: 100%;
    height: 100%;
} */

.special__card-img img {
    width: 100%;
    height: 100%;
}

.special__card-description {
    width: 20vw;
    text-align: center;
}

@media screen and (max-width: 1250px) {
    .special__cards {
        flex-direction: column;
    }

    .special__card {
        margin-top: 20px;
    }

    .special__card-description {
        width: 50vw;
    }
}