.header {
    height: 70px;
    width: 100%;

    display: flex;
    justify-content: space-around;

    background-color: var(--color-light-gray);
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list__item:not(:last-child) {
    margin-right: 10px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.num {
    display: flex;
    align-items: center;
    margin-left: 10px;

    height: fit-content;
    transition: all linear 0.2s;
}

.num:hover {
    opacity: 0.7;
    cursor: pointer;
}

.list__item {
    display: flex;
    align-items: center;
}

.list__item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.list__item:not(:first-child)::before {
    content: "○";
    font-size: 10px;
    padding-right: 10px;
}

.num__img {
    width: 18px;
    height: 18px;
}