@import url(../burger/burger.css);

.header {
    width: 100%;

    padding: 30px 0;

    display: flex;
    justify-content: space-around;

    background-color: var(--color-light-gray);
}



.list {
    display: flex;
    flex-direction: row;
    align-items: center;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list__item:not(:last-child) {
    margin-right: 10px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.num {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10px;

    height: fit-content;
    transition: all linear 0.2s;
}

.num:hover {
    opacity: 0.7;
    cursor: pointer;
}

.list__item {
    display: flex;
    align-items: center;
}

.list__item:hover {
    cursor: pointer;
    text-decoration: underline;
}

.list__item:not(:first-child)::before {
    content: "○";
    font-size: 10px;
    padding-right: 10px;
}

.num__img {
    width: 18px;
    height: 18px;
}

@media screen and (max-width: 800px) {
    .list__item:not(:first-child)::before {
        content: "";
        font-size: 10px;
    }
    
    .header {
        position: fixed;
        left: 0;
        top: 0;

        height: 100vh;
        width: fit-content;

        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        transform: translateX(-100vw);
        transition: all linear 0.3s;
    }
    
    .header_active {
        transform: translateX(0);
    }

    .nav {
        flex-direction: column;
    }

    .list {
        flex-direction: column;

        margin: 20px 0;
    }

    .list__item {
        margin: 20px 0;
    }

    .num {
        margin-right: 20px;
    }
}