.text_headline_1 {
    font-size: 4rem;
    line-height: 70%;
}

.text_headline_2 {
    font-size: 2.5rem;
}

.text_size_m {
    font-size: 0.9rem;
}

.text_size_l {
    font-size: 1.3rem;
}

.text_size_xl {
    font-size: 1.8rem;
}